{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["extendscript"],
  "env": {
    "node": true,
    "es6": true,
    "extendscript/base": true,
    "extendscript/scriptui": true,
    "extendscript/indesign": true
  },
  "rules": {
    "arrow-parens": 0,
    "no-alert": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
